doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= "Frank Contact Us Form"
    body
      h1.h1 Frank Inquiry
      p 
      strong #{name}
      p 
      strong #{email}
      p 
      strong #{subject}
      p
      Message #{message}